/* Main sections layout */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

#content {
    display: flex;
    flex-direction: column;
    align-items: center;
}

/* Other layouts */

.nav-menu ul {
    display: flex;
}

