/* Header Content Flexbox */

.header-content {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

/* Nav-menu flexbox */

.nav-menu ul {
    display: flex;
}

/* Post Section Grid */

.post-list {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    grid-auto-rows: 1fr;
    grid-gap: 25px;
    align-items: stretch;
}

/* Post Page Grid */

#post {
    display: grid;
    grid-template-rows: 60vh minmax(200px, 1fr) auto;
}

.post-header {
    grid-column: 1 / -1;
    display: flex;
    justify-content: center;
    align-items: center;
}

.post-body {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.related-posts {
    grid-column: 1 / -1;
}

/* Footer Grid */

