/* Header styles */

.main-header {
    width: auto;
    background-color: #fff;
    box-shadow: 0px -5px 20px 10px rgb(167 167 167 / 20%);
}

.header-content {
    min-height: 100px;
}

/* Nav menu style */

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li a {
    font-size: 1rem;
    text-decoration: none;
    color: black;
}

.nav-menu ul li a:hover {
    color: #9ddbd1;
}

/* Cards */

.post-card {
    overflow: hidden;
    /* background-color: #f3f8fe; */
    background-color: #75fffc2b;
    box-shadow: 5px 5px 25px 0 #2c3a442e;
    border-radius: 0.4rem;
}

.card-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-title {
    color: black;
    text-align: center;
}

.card-description {
    color: black;
    font-style: italic;
}

.card-button {
    font-size: 1rem;
    background: transparent;
    border: none;
}

.card-button a {
    text-decoration: none;
    color: black;
}

.card-button a:hover {
    color: #9ddbd1;
}

/* Post style */

#post-content {
    box-shadow: 0px 5px 25px 0 #2c3a442e;
}

.post-header {
    background-image: url('https://marcanogabriel.github.io/udacity-projects/images/cat-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.post-title {
    font-size: 4rem;
    color: white;
}

.post-image {
    width: 100%;
}

.post-footer {
    width: 100%;
    background-color: rgb(157 219 209 / 30%);
}

/* Author */

.author .author-avatar {
    height: 200px;
    border-radius: 50%;
    border: 4px solid white;
}

.author .author-description .author-company {
    color: grey;
}

.author .author-bio {
    text-align: justify;
}

/* Social */

.socials {
    background-color: #75fffc2b;
}

.social-buttons {
    width: 50%;
}

.socials .social-buttons ul.social-list {
    list-style: none;
}

/* Related Posts */

.related-posts h2 {
    text-align: center;
}

/* Subscribe */

.subscribe {
    background-color: rgb(157 219 209 / 30%);
}

.subscribe-popup {
    width: fit-content;
    background-color: white;
    border-radius: 0.5rem;
}

.subscribe .subscribe-form input.email-input {
    background-color: #e5eff8;
    border: none;
    border-radius: 2rem;
}

.subscribe .subscribe-form button.button-input {
    background-color: #0575e5;
    color: white;
    border: none;
    border-radius: 2rem;
    cursor: pointer;
}

/* Text style */

h1.main-title {
    font-size: 1.3rem;
}

h1.main-title a{
    text-decoration: none;
    color: black;
}

h2.homepage-title {
    text-align: center;
    padding: 30px 0 75px 0;
    font-size: 2rem;
    color: black;
}

#post-content {
    font-size: 1.5rem;
}

/* Test styles */

.post-header, .related-posts, .aside, .post-body {
    color: rgb(0, 0, 0);
}

/* Tablet media query */

@media only screen and (min-width: 426px) {
    h1.main-title {
        font-size: 1.85rem;
    }
}

/* desktop media query */
@media only screen and (min-width: 768px) {

    h1.main-title {
        font-size: 3rem;
    }

    .post-title {
        font-size: 2rem;
    }

    .post-image {
        width: 600px;
    }

    #post-content {
        font-size: 1rem;
    }
}