/* Header styles */

.main-header {
    width: auto;
    background-color: #fff;
    box-shadow: 0px -5px 20px 10px rgb(167 167 167 / 20%);
}

.header-content {
    min-height: 100px;
}

/* Nav menu style */

.nav-menu ul {
    list-style: none;
}

.nav-menu ul li a {
    font-size: 1rem;
}

/* Cards */

.post-card {
    overflow: hidden;
    background-color: #f3f8fe;
    box-shadow: 5px 5px 25px 0 #2c3a442e;
    border-radius: 0.4rem;
}

.card-image {
    width: 100%;
    height: 160px;
    object-fit: cover;
}

.card-title {
    color: black;
    text-align: center;
}

.card-description {
    color: black;
    font-style: italic;
}

.card-button {
    font-size: 1rem;
    background: transparent;
    border: none;
}

.card-button a {
    text-decoration: none;
    color: black;
}

.card-button a:hover {
    color: red;
}

/* Post style */

#post-content {
    box-shadow: 5px 5px 25px 0 #2c3a442e;
}

.post-header {
    background-image: url('/images/cat-background.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
    box-shadow:inset 0 0 0 2000px rgba(0, 0, 0, 0.3);
}

.post-title {
    font-size: 4rem;
    color: white;
}

.post-image {
    width: 100%;
}

.post-footer {
    width: 100%;
    background-color: rgba(91, 91, 91, 0.3);
}

/* Author */

.author .author-avatar {
    height: 200px;
    border-radius: 50%;
}

.author .author-description .author-company {
    color: grey;
}

.author .author-bio {
    text-align: justify;
}

/* Footer style */

footer.main-footer {
    background-color: black;
    color: white;
    height: 250px;
}

/* Text style */

h1.main-title {
    font-size: 1.85rem;
}

h1.main-title a{
    text-decoration: none;
    color: black;
}

h2.homepage-title {
    text-align: center;
    padding: 30px 0 75px 0;
    font-size: 2rem;
    color: black;
}

#post-content {
    font-size: 1.5rem;
}

/* Test styles */

.post-header, .related-posts, .aside, .post-body {
    color: rgb(0, 0, 0);
}


/* desktop only */
@media only screen and (min-width: 768px) {

    h1.main-title {
        font-size: 3rem;
    }

    .post-title {
        font-size: 2rem;
    }

    .post-image {
        width: 600px;
    }

    #post-content {
        font-size: 1rem;
    }
}